@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: "Mystery Quest";
  src: url("../../public/fonts/MysteryQuest-Regular.woff");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.7s ease-in-out forwards;
}

.slide-out {
  animation: slideOut 0.7s ease-in-out forwards;
}

.fade-in {
  animation: fadeIn 0.7s ease-in-out forwards;
}

.fade-out {
  animation: fadeOut 0.7s ease-in-out forwards;
}

.speech-bubble {
  position: relative;
  background: #f0f0f0;
  border-radius: 0.4em;
  padding: 15px;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #f0f0f0;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}
